@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css?family=Roboto:500,500');

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
.display-remain-time{
  font-size: 50px;
  color: black;
  /* font-family: 'Roboto'; */
  font-weight: 600;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #ffffff;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgb(118, 170, 203) 0%, rgb(104, 170, 179) 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 55vh;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: url(BG.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  padding-top: 1%;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 21vh;
  margin-bottom: -4px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  /* background-color: rgb(33, 10, 113); */
  /* background-color: rgba(121, 177, 187); */
  background: rgb(36, 72, 116);
  /* opacity: .; */
  /* color: rgba(121, 177, 187, 0.6); */
  
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 180px;
    min-height: 20px;
  }
  .flex{
    padding-top: 0%;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
  .description1 {
    font-size: 14px;
  }
}


/* svg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%
} */
.bottle1 , .bottle5{
  z-index: 2;
  position: absolute;
  top: 200px;
  /* bottom: 0; */
  left: 300px;
  animation: appear 2s forwards, move 20s infinite alternate,
    float 5s infinite;
  /* display: inline-block; */
}
.bottle3, .bottle4{
  /* transform: scaleY(-1); */
  z-index: 2;
  position: absolute;
  top: 190px;
  /* bottom: 0; */
  left: 360px;
  animation: appear 2s forwards, move 30s infinite alternate,
    float 6s infinite;
  /* display: inline-block; */
}
.bottle2 {
  z-index: 3;
  position: absolute;
  top: 200px;
  left: 350px;
  animation: appear 2s, disappear 2s;
  display: inline-block;
  /* display: none; */
}

@keyframes appear{
  from {
    top: -1000px;
    opacity: 0.8;
  }
  to {
    top: -600;
    opacity: 1;
  }
}
@keyframes move {
  from {
    left: 100px;
    /* Initial position */
  }
  to {
    left: 500px;
    /* Final position */
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0) translate3d(0px, 0px, 0px) rotateZ(-2deg);
  }
  50% {
    transform: translateY(-20px) translate3d(0px, 10px, 10px) rotateZ(5deg);
  }
}
@keyframes disappear{
  0%{
    opacity: 1;
    /* Starting opacity */
  }  
  50% {
    opacity: 0.75;
    /* Disappearing */
  }
  100% {
    opacity: 0.5;
    /* Disappearing */
  }
}

.splash {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: #573906;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: splashAnimation 1.5s ease-out forwards;
}
@keyframes splashAnimation {
  0% {
    transform: scaleY(0);
    /* Initial scale, starting from no height */
    opacity: 1;
    /* Starting opacity */
  }
  100% {
    transform: scaleY(1);
    /* Full scale, reaching the full height */
    opacity: 0;
    /* Disappearing */
  }
}

.description1 {
  /* position: relative;
  top: 0;
  left: 0;
  display: flex; */
  font-size: 16px;
  border: solid 2px #ffffff;
  border-radius: 10px;
  /* padding-top: 30px;
  padding-left: 15px; */
  /* flex-direction: column;
  justify-content: center; */
  width: 230px;
  height: 90px;
  /* text-align: right; */
  position: absolute;
  top: 45%;
  /* left: 25%; */
  background-color: rgba(0, 0, 0, 0.7);
  /* 透明黑色背景 */
  color: white;
  padding: 10px;
  z-index: 10;
}
button{
  /* float: right; */
  /* max-width: 80px; */
  border: solid 2px #87CEEB;
  margin-top: 3.5%;
  padding: 3px 13px;
  border-radius: 10px;
}
.description2 {
  display: none;
  font-size: 18px;  
}

.visible{
  display: flex;
}

img{
  min-height: 100%;
  width: 100%;    
}

.timer{
  display: flex;
}
.timer p{
  font-size: 50px;
  color: black;
  /* font-family: 'Roboto'; */
  font-weight: 600;
  margin: 0 18px;
}

.overlay {
  position: relative;
  width: 50%;
  height: 20%;
  /* top: -80px;
  left: 25%; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* 半透明背景*/
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  z-index: 999;
}

.centered {
  max-width: 80%;
  max-height: 80vh;
}

