@import 'style.css';

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

//box sizing
@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

// generic transform: can accept multiple transforms
@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

//translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// translate X
@mixin translateX($x) {
  @include transform(translateX($x));
}

// translate Y
@mixin translateY($y) {
  @include transform(translateY($y));
}

// transform-origin
@mixin transform-origin ($origin1, $origin2) {
  moz-transform-origin: $origin1 $origin2;
  -o-transform-origin: $origin1 $origin2;
  -ms-transform-origin: $origin1 $origin2;
  -webkit-transform-origin: $origin1 $origin2;
  transform-origin: $origin1 $origin2;
}

// animation
@mixin animation($name, $duration: 0, $times: 1, $transition: ease, $direction: normal) {
  -webkit-animation: $name $duration $times $transition $direction;
  -moz-animation-name: $name $duration $times $transition $direction;
  -o-animation: $name $duration $times $transition $direction;
  animation: $name $duration $times $transition $direction;
}

// color palette
// $backgrnd: #BBDDFF;
$outline1: #313565;
$outline2: #115574;
$outline3: #9C83AB;
$deepblue: #0361A2;
$liteblue: #33AAE6;
$deeppink: #BA4B99;
$litepink: #D081B9;
$yellow: #DBCB5B;
$belly: #E7E7E7;

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: $backgrnd;
}

.sammy {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background: $deepblue;
  @include transform-origin('center', 'center');
  @include animation(bob, 4s, infinite, ease-in-out, alternate);
  overflow: hidden;
  @include box-shadow(
    /*outline */
    -80px -140px $outline1,
    -90px -130px $outline1,
    -70px -130px $outline2,
    -60px -130px $outline1,
    -170px -120px $outline1,
    -90px -120px $outline1,
    -50px -120px $outline2,
    -40px -120px $outline1,
    -180px -110px $outline1,
    -160px -110px $outline1,
    -90px -110px $outline1,
    -30px -110px $outline1,
    -180px -100px $outline1,
    -160px -100px $outline2,
    -80px -100px $outline1,
    -20px -100px $outline1,
    -180px -90px $outline1,
    -150px -90px $outline1,
    -80px -90px $outline1,
    -10px -90px $outline1,
    -180px -80px $outline1,
    -150px -80px $outline2,
    -70px -80px $outline2,
    0px -80px $outline1,
    -180px -70px $outline1,
    -140px -70px $outline1,
    -120px -70px $outline2,
    -110px -70px $outline2,
    -80px -70px $outline2,
    -70px -70px $outline2,
    10px -70px $outline1,
    20px -70px $outline1,
    30px -70px $outline1,
    40px -70px $outline1,
    50px -70px $outline1,
    60px -70px $outline1,
    70px -70px $outline1,
    80px -70px $outline1,
    90px -70px $outline1,
    100px -70px $outline1,
    110px -70px $outline1,
    120px -70px $outline1,
    130px -70px $outline1,
    140px -70px $outline1,
    150px -70px $outline1,
    160px -70px $outline1,
    -180px -60px $outline1,
    -140px -60px $outline2,
    -130px -60px $outline2,
    -100px -60px $outline2,
    -90px -60px $outline2,
    170px -60px $outline2,
    180px -60px $outline1,
    -170px -50px $outline2,
    190px -50px $outline1,
    -180px -40px $outline2,
    190px -40px $outline1,
    -180px -30px $outline2,
    190px -30px $outline1,
    -190px -20px $outline2,
    -150px -20px $outline1,
    180px -20px $outline2,
    -200px -10px $outline2,
    -170px -10px $outline1,
    -160px -10px $outline1,
    -140px -10px $outline1,
    180px -10px $outline1,
    -190px 0px $outline1,
    -180px 0px $outline1,
    -130px 0px $outline1,
    -120px 0px $outline1,
    170px 0px $outline1,
    -110px 10px $outline1,
    160px 10px $outline1,
    -100px 20px $outline1,
    150px 20px $outline3,
    -90px 30px $outline1,
    140px 30px $outline3,
    -80px 40px $outline1,
    140px 40px $outline3,
    -80px 50px $outline1,
    130px 50px $outline3,
    -90px 60px $outline1,
    110px 60px $outline3,
    120px 60px $outline1,
    -110px 70px $outline1,
    120px 70px $outline3,
    -120px 80px $outline1,
    120px 80px lighten($outline3, 25%),
    -120px 90px $outline1,
    120px 90px $outline3,
    -110px 100px $outline1,
    -100px 100px $outline1,
    -90px 100px $outline1,
    -80px 100px $outline1,
    -70px 100px $outline1,
    -60px 100px $outline1,
    -50px 100px $outline1,
    -40px 100px $outline1,
    110px 100px $outline3,
    -30px 110px $outline1,
    -20px 110px $outline3,
    80px 110px $outline3,
    90px 110px $outline1,
    100px 110px $outline1,
    -10px 120px $outline1,
    0px 120px $outline1,
    10px 120px $outline1,
    20px 120px $outline1,
    30px 120px $outline1,
    40px 120px $outline1,
    50px 120px $outline1,
    60px 120px $outline1,
    70px 120px $outline1,
    /* blue fill */
    -80px -130px $liteblue,
    -80px -120px $liteblue,
    -70px -120px $liteblue,
    -60px -120px $liteblue,
    -170px -110px $liteblue,
    -80px -110px $liteblue,
    -70px -110px $liteblue,
    -60px -110px $liteblue,
    -50px -110px $liteblue,
    -40px -110px $liteblue,
    -170px -100px $liteblue,
    -70px -100px $deepblue,
    -60px -100px $liteblue,
    -50px -100px $liteblue,
    -40px -100px $liteblue,
    -30px -100px $liteblue,
    -170px -90px $deepblue,
    -160px -90px $liteblue,
    -70px -90px $liteblue,
    -60px -90px $deepblue,
    -50px -90px $liteblue,
    -40px -90px $liteblue,
    -30px -90px $liteblue,
    -20px -90px $liteblue,
    -170px -80px $deepblue,
    -160px -80px $liteblue,
    -60px -80px $liteblue,
    -50px -80px $deepblue,
    -40px -80px $deepblue,
    -30px -80px $liteblue,
    -20px -80px $liteblue,
    -10px -80px $liteblue,
    -170px -70px $deepblue,
    -160px -70px $liteblue,
    -150px -70px $liteblue,
    -60px -70px $deepblue,
    -50px -70px $deepblue,
    -40px -70px $deepblue,
    -30px -70px $deepblue,
    -20px -70px $liteblue,
    -10px -70px $liteblue,
    0px -70px $liteblue,
    -170px -60px $deepblue,
    -160px -60px $deepblue,
    -150px -60px $liteblue,
    -120px -60px $liteblue,
    -110px -60px $liteblue,
    -80px -60px $liteblue,
    -70px -60px $liteblue,
    -60px -60px $deepblue,
    -50px -60px $deepblue,
    -40px -60px $deepblue,
    -30px -60px $deepblue,
    -20px -60px $deepblue,
    -10px -60px $liteblue,
    0px -60px $liteblue,
    10px -60px $liteblue,
    20px -60px $liteblue,
    30px -60px $liteblue,
    40px -60px $liteblue,
    50px -60px $liteblue,
    60px -60px $liteblue,
    70px -60px $liteblue,
    80px -60px $liteblue,
    90px -60px $liteblue,
    100px -60px $liteblue,
    110px -60px $liteblue,
    120px -60px $liteblue,
    130px -60px $liteblue,
    140px -60px $liteblue,
    150px -60px $liteblue,
    160px -60px $liteblue,
    -160px -50px $deepblue,
    -150px -50px $liteblue,
    -140px -50px $liteblue,
    -130px -50px $liteblue,
    -120px -50px $liteblue,
    -110px -50px $liteblue,
    -100px -50px $liteblue,
    -90px -50px $liteblue,
    -80px -50px $liteblue,
    -70px -50px $liteblue,
    -60px -50px $liteblue,
    -50px -50px $liteblue,
    -40px -50px $liteblue,
    -30px -50px $liteblue,
    -20px -50px $liteblue,
    -10px -50px $liteblue,
    0px -50px $liteblue,
    10px -50px $liteblue,
    20px -50px $liteblue,
    30px -50px $liteblue,
    40px -50px $liteblue,
    50px -50px $liteblue,
    60px -50px $liteblue,
    70px -50px $liteblue,
    80px -50px $liteblue,
    90px -50px $liteblue,
    100px -50px $liteblue,
    110px -50px $liteblue,
    120px -50px $liteblue,
    130px -50px $liteblue,
    140px -50px $liteblue,
    150px -50px $liteblue,
    160px -50px $liteblue,
    170px -50px $liteblue,
    180px -50px $liteblue,
    -170px -40px $deepblue,
    -160px -40px $deepblue,
    -150px -40px $deepblue,
    -140px -40px $deepblue,
    -130px -40px $liteblue,
    -120px -40px $liteblue,
    -110px -40px $liteblue,
    -100px -40px $liteblue,
    -90px -40px $liteblue,
    -80px -40px $liteblue,
    -70px -40px $liteblue,
    -60px -40px $liteblue,
    -50px -40px $liteblue,
    -40px -40px $liteblue,
    -30px -40px $liteblue,
    -20px -40px $liteblue,
    -10px -40px $liteblue,
    0px -40px $liteblue,
    10px -40px $liteblue,
    20px -40px $liteblue,
    30px -40px $liteblue,
    40px -40px $liteblue,
    50px -40px $liteblue,
    100px -40px $liteblue,
    110px -40px $liteblue,
    120px -40px $liteblue,
    130px -40px $liteblue,
    140px -40px $liteblue,
    150px -40px $liteblue,
    160px -40px $liteblue,
    170px -40px $liteblue,
    180px -40px $liteblue,
    -170px -30px $deepblue,
    -160px -30px $deepblue,
    -150px -30px $deepblue,
    -140px -30px $deepblue,
    -130px -30px $deepblue,
    -120px -30px $deepblue,
    -110px -30px $liteblue,
    -100px -30px $deepblue,
    -90px -30px $liteblue,
    -80px -30px $deepblue,
    -70px -30px $liteblue,
    -60px -30px $deepblue,
    -50px -30px $liteblue,
    -40px -30px $deepblue,
    -30px -30px $liteblue,
    -20px -30px $deepblue,
    -10px -30px $liteblue,
    0px -30px $deepblue,
    10px -30px $liteblue,
    20px -30px $deepblue,
    30px -30px $liteblue,
    40px -30px $deepblue,
    100px -30px $liteblue,
    110px -30px $liteblue,
    120px -30px $liteblue,
    130px -30px $liteblue,
    140px -30px $deepblue,
    150px -30px $liteblue,
    160px -30px $deepblue,
    170px -30px $liteblue,
    180px -30px $deepblue,
    -180px -20px $deepblue,
    -170px -20px $deepblue,
    -160px -20px $deepblue,
    -140px -20px $deepblue,
    -130px -20px $deepblue,
    -120px -20px $deepblue,
    -110px -20px $deepblue,
    -100px -20px $liteblue,
    -90px -20px $deepblue,
    -80px -20px $liteblue,
    -70px -20px $deepblue,
    -60px -20px $liteblue,
    -50px -20px $deepblue,
    -40px -20px $liteblue,
    -30px -20px $deepblue,
    -20px -20px $liteblue,
    -10px -20px $deepblue,
    0px -20px $liteblue,
    10px -20px $deepblue,
    20px -20px $liteblue,
    30px -20px $deepblue,
    40px -20px $deepblue,
    110px -20px $deepblue,
    120px -20px $liteblue,
    130px -20px $deepblue,
    140px -20px $liteblue,
    150px -20px $deepblue,
    160px -20px $liteblue,
    170px -20px $deepblue,
    -190px -10px $deepblue,
    -180px -10px $deepblue,
    -130px -10px $deepblue,
    -120px -10px $deepblue,
    -110px -10px $deepblue,
    -100px -10px $deepblue,
    -90px -10px $deepblue,
    -80px -10px $deepblue,
    -70px -10px $deepblue,
    -60px -10px $deepblue,
    -50px -10px $deepblue,
    -40px -10px $deepblue,
    -30px -10px $liteblue,
    -20px -10px $deepblue,
    -10px -10px $deepblue,
    0px -10px $deepblue,
    10px -10px $deepblue,
    20px -10px $deepblue,
    30px -10px $deepblue,
    40px -10px $deepblue,
    110px -10px $deepblue,
    120px -10px $deepblue,
    130px -10px $deepblue,
    140px -10px $deepblue,
    150px -10px $deepblue,
    160px -10px $deepblue,
    170px -10px $deepblue,
    -110px 0px $deepblue,
    -100px 0px $deepblue,
    -90px 0px $deepblue,
    -80px 0px $deepblue,
    -70px 0px $deepblue,
    -60px 0px $deepblue,
    -50px 0px $deepblue,
    -40px 0px $deepblue,
    -30px 0px $deepblue,
    -20px 0px $deepblue,
    -10px 0px $deepblue,
    10px 0px $liteblue,
    20px 0px $deepblue,
    30px 0px $deepblue,
    40px 0px $deepblue,
    100px 0px $deepblue,
    110px 0px $deepblue,
    120px 0px $deepblue,
    130px 0px $deepblue,
    140px 0px $deepblue,
    150px 0px $deepblue,
    160px 0px $deepblue,
    -100px 10px $deepblue,
    -90px 10px $deepblue,
    -80px 10px $deepblue,
    -70px 10px $deepblue,
    -60px 10px $deepblue,
    -50px 10px $deepblue,
    -40px 10px $deepblue,
    -30px 10px $deepblue,
    -20px 10px $deepblue,
    -10px 10px $deepblue,
    0px 10px $deepblue,
    10px 10px $deepblue,
    20px 10px $deepblue,
    30px 10px $deepblue,
    40px 10px $deepblue,
    50px 10px $deepblue,
    100px 10px $deepblue,
    110px 10px $deepblue,
    120px 10px $deepblue,
    130px 10px $deepblue,
    140px 10px $deepblue,
    150px 10px $deepblue,
    -90px 20px $deepblue,
    -80px 20px $deepblue,
    -70px 20px $deepblue,
    -60px 20px $deepblue,
    -50px 20px $deepblue,
    -40px 20px $deepblue,
    -30px 20px $deepblue,
    -20px 20px $deepblue,
    -10px 20px $deepblue,
    0px 20px $deepblue,
    10px 20px $deepblue,
    20px 20px $deepblue,
    40px 20px $deepblue,
    50px 20px $deepblue,
    60px 20px $deepblue,
    70px 20px $deepblue,
    80px 20px $deepblue,
    90px 20px $deepblue,
    100px 20px $deepblue,
    -80px 30px $deepblue,
    -70px 30px $liteblue,
    -60px 30px $deepblue,
    -50px 30px $deepblue,
    -40px 30px $deepblue,
    -30px 30px $deepblue,
    -20px 30px $deepblue,
    -10px 30px $deepblue,
    0px 30px $deepblue,
    10px 30px $deepblue,
    20px 30px $deepblue,
    50px 30px $deepblue,
    60px 30px $deepblue,
    -70px 40px $deepblue,
    -60px 40px $liteblue,
    -50px 40px $deepblue,
    -40px 40px $deepblue,
    -30px 40px $deepblue,
    -20px 40px $deepblue,
    -10px 40px $deepblue,
    0px 40px $deepblue,
    10px 40px $deepblue,
    20px 40px $deepblue,
    -70px 50px $liteblue,
    -60px 50px $deepblue,
    -50px 50px $liteblue,
    -40px 50px $deepblue,
    -30px 50px $deepblue,
    -20px 50px $deepblue,
    -10px 50px $deepblue,
    0px 50px $deepblue,
    10px 50px $deepblue,
    -80px 60px $deepblue,
    -70px 60px $deepblue,
    -60px 60px $liteblue,
    -50px 60px $liteblue,
    -40px 60px $liteblue,
    -30px 60px $deepblue,
    -20px 60px $deepblue,
    -100px 70px $deepblue,
    -90px 70px $deepblue,
    -80px 70px $liteblue,
    -70px 70px $liteblue,
    -60px 70px $liteblue,
    -50px 70px $liteblue,
    -40px 70px $deepblue,
    -30px 70px $deepblue,
    -110px 80px $liteblue,
    -100px 80px $liteblue,
    -90px 80px $liteblue,
    -80px 80px $liteblue,
    -70px 80px $liteblue,
    -60px 80px $liteblue,
    -50px 80px $deepblue,
    -40px 80px $deepblue,
    -110px 90px $deepblue,
    -100px 90px $liteblue,
    -90px 90px $deepblue,
    -80px 90px $deepblue,
    -70px 90px $deepblue,
    -60px 90px $deepblue,
    -50px 90px $deepblue,
    /* belly */
    110px 20px $belly,
    120px 20px $belly,
    130px 20px $belly,
    140px 20px $belly,
    70px 30px $belly,
    80px 30px $belly,
    90px 30px $belly,
    100px 30px $belly,
    110px 30px $belly,
    120px 30px $belly,
    130px 30px $belly,
    60px 40px $belly,
    70px 40px $belly,
    80px 40px $belly,
    90px 40px $belly,
    100px 40px $belly,
    110px 40px $belly,
    120px 40px $belly,
    130px 40px $belly,
    20px 50px $belly,
    80px 50px $belly,
    90px 50px $belly,
    100px 50px $belly,
    110px 50px $belly,
    120px 50px $belly,
    -10px 60px $belly,
    0px 60px $belly,
    10px 60px $belly,
    20px 60px $belly,
    30px 60px $belly,
    -20px 70px $belly,
    -10px 70px $belly,
    0px 70px $belly,
    10px 70px $belly,
    20px 70px $belly,
    30px 70px $belly,
    -30px 80px $belly,
    -20px 80px $belly,
    -10px 80px $belly,
    0px 80px $belly,
    10px 80px $belly,
    20px 80px $belly,
    30px 80px $belly,
    40px 80px $belly,
    110px 80px $belly,
    -40px 90px $belly,
    -30px 90px $belly,
    -20px 90px $belly,
    -10px 90px $belly,
    0px 90px $belly,
    10px 90px $belly,
    20px 90px $belly,
    30px 90px $belly,
    40px 90px $belly,
    50px 90px $belly,
    60px 90px $belly,
    70px 90px $belly,
    100px 90px $belly,
    110px 90px $belly,
    -30px 100px $belly,
    -20px 100px $belly,
    -10px 100px $belly,
    0px 100px $belly,
    10px 100px $belly,
    20px 100px $belly,
    30px 100px $belly,
    40px 100px $belly,
    50px 100px $belly,
    60px 100px $belly,
    70px 100px $belly,
    80px 100px $belly,
    90px 100px $belly,
    100px 100px $belly,
    -10px 110px $belly,
    0px 110px $belly,
    10px 110px $belly,
    20px 110px $belly,
    30px 110px $belly,
    40px 110px $belly,
    50px 110px $belly,
    60px 110px $belly,
    70px 110px $belly,
    /* eye */
    60px -40px #fff,
    70px -40px $yellow,
    80px -40px $yellow,
    90px -40px #fff,
    50px -30px #fff,
    60px -30px $yellow,
    70px -30px $outline1,
    80px -30px $outline1,
    90px -30px $outline1,
    50px -20px #fff,
    60px -20px $yellow,
    70px -20px #fff,
    80px -20px $outline1,
    90px -20px $outline1,
    100px -20px #fff,
    50px -10px #fff,
    60px -10px $yellow,
    70px -10px $outline1,
    80px -10px $outline1,
    90px -10px $outline1,
    100px -10px #fff,
    50px 0px #fff,
    60px 0px #fff,
    70px 0px $yellow,
    80px 0px $yellow,
    90px 0px $yellow,
    60px 10px #fff,
    70px 10px #fff,
    80px 10px #fff,
    90px 10px #fff,
    /* mouth */
    30px 20px $litepink,
    30px 30px $litepink,
    40px 30px $litepink,
    30px 40px $litepink,
    40px 40px $litepink,
    50px 40px $litepink,
    30px 50px $litepink,
    40px 50px $litepink,
    50px 50px $litepink,
    60px 50px $litepink,
    70px 50px $litepink,
    40px 60px #fff,
    50px 60px $deeppink,
    60px 60px $litepink,
    70px 60px $litepink,
    80px 60px $litepink,
    90px 60px $litepink,
    100px 60px $litepink,
    40px 70px #fff,
    50px 70px #fff,
    60px 70px $deeppink,
    70px 70px $deeppink,
    80px 70px $litepink,
    90px 70px $litepink,
    100px 70px $litepink,
    110px 70px $litepink,
    50px 80px #fff,
    60px 80px #fff,
    70px 80px $deeppink,
    80px 80px $deeppink,
    90px 80px $litepink,
    100px 80px $litepink,
    80px 90px $deeppink,
    90px 90px $deeppink );
}

@keyframes bob {
  0% {
    @include translateY(40px);
  }

  100% {
    @include translateY(-40px);
  }
}